.slides {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease; }

.reveal.ready .slides {
  opacity: 1; }

.backgrounds {
  background: #1a1626; }

/* EXAMPLE MENUBAR */
.menubar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  padding: 0 3vmin;
  z-index: 2;
  border-bottom: 1px solid white;
  height: 50px;
  min-height: 50px;
  top: -50px;
  -webkit-transition: top 1s ease-in-out;
  -o-transition: top 1s ease-in-out;
  transition: top 1s ease-in-out; }

body:not(.hide-menubar) .reveal.ready .menubar {
  top: 0; }

.reveal .lowercase {
  text-transform: none; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .row .col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

/* EXAMPLE FLAG LANGUAGE CHOOSER */
.reveal .flags {
  display: block;
  position: relative;
  margin-bottom: -80px !important;
  margin-top: 80px; }
  .reveal .flags label {
    display: inline-block; }
  .reveal .flags [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0; }
  .reveal .flags img {
    border-radius: 40px;
    border: 4px solid #1a1626;
    margin: 0;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.5; }
    .reveal .flags img:hover {
      opacity: 1; }
  .reveal .flags [type=radio]:checked + img {
    pointer-events: none;
    opacity: 1;
    border: 4px solid white; }

/* EXAMPLE DROPDOWN WITH LANGUAGE CHOOSER */
.menubar .dropdown {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #FFF; }

.menubar input[type=checkbox] {
  display: none; }

.menubar input[type=checkbox] + label {
  background: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 6px 8px;
  cursor: pointer; }

.menubar input[type=checkbox]:checked + label {
  border-radius: 6px 6px 0 0; }

.menubar input[type=checkbox]:checked ~ .langchooser {
  display: block; }

.menubar label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.menubar [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }

.menubar .langchooser {
  position: absolute;
  list-style: none;
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
  background: #1a1626;
  border: 1px solid white;
  border-radius: 0 0 6px 6px;
  border-top: none;
  overflow: hidden; }
  .menubar .langchooser label {
    display: block;
    padding: 0; }

.menubar .langchooser [type=radio] + span {
  display: block;
  padding: 7px 10px;
  cursor: pointer; }

.menubar .langchooser span:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFF; }

.menubar .langchooser [type=radio]:checked + span {
  pointer-events: none;
  background: rgba(255, 255, 255, 0.75);
  color: black; }
